aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aioprocessing==2.0.1
aiosignal==1.3.1
anaconda-anon-usage @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3eler6mjxh/croot/anaconda-anon-usage_1710965076906/work
analytics-python==1.2.9
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1696634205638/work
anyio==4.6.0
archspec @ file:///croot/archspec_1709217642129/work
attrs==24.2.0
backoff==2.2.1
blis @ file:///Users/runner/miniforge3/conda-bld/cython-blis_1696148874600/work
boltons @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/boltons_1699240838368/work
Brotli @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/brotli-split_1699237319520/work
catalogue @ file:///Users/runner/miniforge3/conda-bld/catalogue_1695626420237/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b4nang6w_y/croot/cffi_1700254307954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1697837790453/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1714990967209/work
conda-content-trust @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/conda-content-trust_1699283351805/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-package-handling @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3dblbw3die/croot/conda-package-handling_1700254361862/work
conda_package_streaming @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/conda-package-streaming_1699238858289/work
confection @ file:///Users/runner/miniforge3/conda-bld/confection_1701179243633/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1712429958595/work
cryptography @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_19nb9xvs53/croot/cryptography_1710350362185/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
cymem @ file:///Users/runner/miniforge3/conda-bld/cymem_1695443566281/work
datasets==3.0.0
dill==0.3.8
distro @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/distro_1701803554172/work
docker-pycreds==0.4.0
emoji==2.13.0
fastai @ file:///home/conda/feedstock_root/build_artifacts/fastai_1714277957289/work
fastcore @ file:///home/conda/feedstock_root/build_artifacts/fastcore_1714543736080/work
fastdownload @ file:///home/conda/feedstock_root/build_artifacts/fastdownload_1675782504990/work
fastprogress @ file:///home/conda/feedstock_root/build_artifacts/fastprogress_1658690818839/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1714422806336/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1712344643087/work
frozenlist==1.4.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1710808267764/work
gitdb==4.0.11
GitPython==3.1.43
gql==3.5.0
graphql-core==3.2.4
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.25.0
idna @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/idna_1699237644810/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
janus==1.0.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
jiter==0.5.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
jsonpatch @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_14fkybcjic/croot/jsonpatch_1710807510523/work
jsonpointer==2.1
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695380072051/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
libmambapy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5ehthp6vi7/croot/mamba-split_1712091921232/work/libmambapy
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706900163039/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1712606003440/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
menuinst @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_26a7xsau78/croot/menuinst_1706732941263/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict==6.1.0
multiprocess==0.70.16
munkres==1.1.4
murmurhash @ file:///Users/runner/miniforge3/conda-bld/murmurhash_1695449858485/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225421156/work/dist/numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl#sha256=011d57633d659db8280a5811d62d0c5a615719a6d7cbd46a04f6ffce0c2a7db3
openai==1.47.0
packaging @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a6lqg7at4g/croot/packaging_1710807410750/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1712782110282/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1712154527146/work
platformdirs @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/platformdirs_1701803010714/work
pluggy @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pluggy_1699237243543/work
preshed @ file:///Users/runner/miniforge3/conda-bld/preshed_1695644942169/work
protobuf==5.28.2
psutil==6.0.0
pyarrow==16.1.0
pycosat @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pycosat_1699241479669/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1713905669586/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1713861860672/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
PySocks @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pysocks_1699237568675/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373531920/work
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
ruamel.yaml @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/ruamel.yaml_1699241608430/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1712824654791/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1714794175848/work/dist/scipy-1.13.0-cp312-cp312-macosx_11_0_arm64.whl#sha256=617aedd28b66c0cd36e1fca43f0b9d04fd6e4b29798e0dc7f98c84623c0d0d19
sentry-sdk==2.14.0
setproctitle==1.3.3
setuptools==68.2.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_split_1694066705667/work/dist
smmap==5.0.1
sniffio==1.3.1
spacy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_18ske9dh81/croot/spacy_1704840104347/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
srsly @ file:///Users/runner/miniforge3/conda-bld/srsly_1695654170684/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180539862/work
tenacity==9.0.0
thinc @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_49df34smdw/croot/thinc_1704703973981/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tiktoken==0.7.0
torch @ file:///Users/runner/miniforge3/conda-bld/libtorch_1715184454275/work/torch-2.1.2.post4-cp312-cp312-macosx_11_0_arm64.whl#sha256=03635be045c369bf21940b28dcf0a6e98d4d79f01a40dab2aabeda0a416fa99f
torchvision @ file:///Users/runner/miniforge3/conda-bld/torchvision_1708903110299/work
tqdm==4.66.5
truststore @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/truststore_1701805928787/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1711217621866/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_aff2m3lasf/croot/urllib3_1707770561896/work
uuid_utils==0.9.0
wandb==0.18.1
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1668249950899/work
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1699295455892/work
weave==0.51.8
Werkzeug==3.0.4
wheel==0.41.2
xxhash==3.5.0
yarl==1.11.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zstandard @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/zstandard_1699238791645/work
